<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>430707217688-rg7f8dk1l4eojfrec0b6voe63fv1lnsv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.430707217688-rg7f8dk1l4eojfrec0b6voe63fv1lnsv</string>
	<key>API_KEY</key>
	<string>AIzaSyBIzIaWrDslEdp4GE4nUn_6P9lwAgifyNw</string>
	<key>GCM_SENDER_ID</key>
	<string>430707217688</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appuniversity.org.HelloFirebase</string>
	<key>PROJECT_ID</key>
	<string>todolist-fc8d0</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist-fc8d0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:430707217688:ios:df122478d76db1df97ba6d</string>
</dict>
</plist>